# Created by .ignore support plugin (hsz.mobi)


# IntelliJ Idea
*.iml
.project

# Foundation Framework
/css/foundation.css
/css/foundation.min.css
/css/normalize.css
/Foundation
/js/foundation
/js/foundation.min.js
/js/vendor
/_notes
/includes/_notes

# Images Directory
/img


